.main
{
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.heading 
{
    color: rgb(18, 156, 6);
    padding: 20px 0px;
    text-align: center;
    width: 100%;
}